/* Soluzione qui */

/*Tablet*/


@media screen and (min-width:768px) {

    /* Il logo nell'header si allinea a sinistra*/
    #topbar {
        justify-content: flex-start;
    }

    /* Il padding del contenuto principale della pagina aumenta*/
    main {
        padding: 40px;
    }

    /* Compare il testo "(Dolce Tradizionale)"*/
    .recipe-origin {
        display: inline-block;
    }

    /* La grandezza del titolo diventa più grande*/
    .recipe-name {
        font-size: 35px;
    }

    /* Le informazioni della ricetta sotto il video si dispongono a griglia */
    .quick-notes ul {
        display: flex;
        flex-wrap: wrap;
    }

    .quick-notes ul li {
        width: calc(100% / 3);
        align-items: flex-start;
    }

    /* I bottoni social si allargano */
    .social-networks .btn {
        padding: 10px 55px;
    }

    /*compare il banner pubblicitario */
    .ads {
        display: block;
    }

    /* l'immagine nella descrizione della ricetta viene circondata dal testo*/
    .clearfix img {
        float: left;
        margin: 10px;
    }

    .clearfix::after {
        content: "";
        display: block;
        clear: both;
    }
}


/* Desktop */

@media screen and (min-width : 992px) {

    /* La grandezza el titolo della ricetta aumenta ancora di più */
    .recipe-name {
        font-size: 38px;
    }

    /* Le informazioni della ricetta tornano a disporsi una sotto l'altra*/
    .quick-notes ul {
        display: block;
    }

    /* Il video e le altre informazioni della ricetta si dispongono uno accanto all'altro*/
    .recipe-card {
        display: flex;
    }

    .recipe-video {
        flex-basis: 70%;
        height: 100%;

    }

    .recipe-video iframe {
        width: 100%;
        height: 100%;
        aspect-ratio: 16 / 9;
        /* proporzione corretta */
    }

    .recipe-info {
        flex-basis: 30%;
        margin: 0;
    }

    .quick-notes ul li {
        width: 100%;
        display: flex;
        /* per tenere icona + testo affiancati */
        align-items: flex-start;
    }

    .quick-notes {
        margin-top: 30px;
    }

    /* Compaiono i nomi delle piattaforme social */

    .btn .label {
        display: block;
    }

    /* Nel footer i dati del sito e il menu di navigazione di dispongono sulla stessa linea ma su lati opposti*/
    footer {
        display: flex;
        justify-content: space-between;
        align-items: center;
        text-align: left;
    }

}