/* Soluzione qui */

/*Tablet*/

@media screen and (min-width:768px) {

    /* Il logo nell'header si allinea a sinistra*/
    #topbar {
        justify-content: flex-start;
    }

    /* Il padding del contenuto principale della pagina aumenta*/
    main {
        padding: 40px;
    }

    /* Compare il testo "(Dolce Tradizionale)"*/
    .recipe-origin {
        display: inline-block;
    }

    /* La grandezza del titolo diventa più grande*/
    .recipe-name {
        font-size: 38px;
    }

    /* Le informazioni della ricetta sotto il video si dispongono a griglia */
    .quick-notes ul {
        display: flex;
        flex-wrap: wrap;
    }

    .quick-notes ul li {
        width: calc(100% / 3);
        align-items: flex-start;
    }

    /* I bottoni social si allargano */
    .social-networks .btn {
        padding : 10px 55px ; 
    }

    /*compare il banner pubblicitario */ 
    .ads {
        display: block;
    }

    /* l'immagine nella descrizione della ricetta viene circondata dal testo*/
    .clearfix img {
        float : left ; 
        margin: 10px;
    }
}